<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISyntaxAnalyzer">
                    <reliableSession inactivityTimeout="24.20:31:23" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:15000/syntaxanalyzer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISyntaxAnalyzer"
                contract="TCPSyntaxAnalyzer.ISyntaxAnalyzer" name="NetTcpBinding_ISyntaxAnalyzer" />
        </client>
    </system.serviceModel>
</configuration>