<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="metadataBehaviour" name="TCPSyntaxAnalyzerService.TCPSyntaxAnalyzerProcessor">
        <endpoint binding="netTcpBinding" bindingConfiguration="netTcpBinding_SyntaxAnalyzerProcessor"
            contract="TCPSyntaxAnalyzerService.ISyntaxAnalyzer" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15000/syntaxanalyzer" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_SyntaxAnalyzerProcessor" maxReceivedMessageSize="262144" receiveTimeout="24.20:31:23" >
          <reliableSession  ordered="true" inactivityTimeout="24.20:31:23"  enabled="true" />
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehaviour" >
          <serviceMetadata />
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>